.sectionWrapper {
  display: flex;
  height: 100vh;
  justify-content: space-between;
}
.sectionWrapper img {
  height: 80vh;
  width: auto;
  object-fit: contain;
  transform: scaleX(-1);
}
.mainWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.mainWrapper h2 {
  margin: 15px 0 20px 0;
  max-width: 400px;
  line-height: 30px;
}

.mainWrapper h1 {
  font-weight: 900;
  color: var(--gray6);
}

@media (max-width: 770px) {
  .sectionWrapper {
    flex-direction: column;
  }
  .sectionWrapper img {
    margin: 0 auto;
    height: 500px;
  }
  .mainWrapper h2 {
    text-align: center;
    margin: 0 auto;
  }
  .mainWrapper h1 {
    text-align: center;
  }
  .mainWrapper button {
    display: none;
  }
}
