.wrapper {
  max-height: 1300px;
  height: 100vh;
  position: relative;
}

.sectionWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1300px;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
}
.sectionWrapper img {
  height: 100%;
  width: 100%;
  max-height: 700px;
  width: auto;
  object-fit: contain;
  transform: scaleX(-1);
  padding: 80px 0;
}
.mainWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.mainWrapper h2 {
  margin: 15px 0 20px 0;
  max-width: 400px;
  line-height: 40px;
  color: var(--gray7);
}

.mainWrapper h1 {
  font-weight: 900;
  color: var(--gray5);
}

@media (max-width: 770px) {
  .mainWrapper {
    margin: 0;
  }
  .sectionWrapper {
    flex-direction: column;
    justify-content: center;
    margin-top: 180px;
    height: auto;
  }
  .sectionWrapper img {
    margin: 0 auto;
    height: 500px;
    margin: 70px auto;
    /* margin-bottom: 300px; */
    padding: 0;
  }
  .mainWrapper h2 {
    text-align: center;
    margin: 0 auto;
  }
  .mainWrapper h1 {
    text-align: center;
  }
  .mainWrapper button {
    display: none;
  }
}
@media (max-width: 730px) {
}
@media (max-width: 500px) {
  .sectionWrapper {
    /* margin-top: 250px; */
  }
}

@media (max-width: 420px) {
  .sectionWrapper {
    margin-top: 200px;
  }
}
