.button {
  border: 2px solid var(--gray5);
  background-color: var(--white);
  width: max-content;
  border-radius: 20px;
  display: flex;
  align-items: center;
  gap: 5px;
  cursor: pointer;
  justify-content: center;
  padding: 10px 30px;
  transition: all 0.1s;
  font-size: 14px;
  font-weight: 500;
  color: var(--color2);
}
.button-bold {
  font-weight: 700;
}

/* button1 START */
.button:hover {
  background-color: var(--gray5);
  color: var(--textLight);
}
.buttonDisabled {
  background-color: var(--gray3);
  border: 2px solid var(--gray3);
  color: var(--textLight);
  cursor: default;
}
.buttonDisabled:hover {
  background-color: var(--gray3);
  border: 2px solid var(--gray3);
}
/* button1 END */
