.absolute {
  position: absolute;
  width: 100%;
}
.section {
  padding: 80px 150px;
  width: 100%;
}

.section-fill {
  background-color: var(--overlay);
}

.container {
  max-width: 1300px;
  margin: 0 auto;
}

@media (max-width: 1300px) {
  .section {
    padding: 70px 100px;
  }
}
@media (max-width: 1000px) {
  .section {
    padding: 60px 80px;
  }
}
@media (max-width: 800px) {
  .section {
    padding: 50px 70px;
  }
}
@media (max-width: 600px) {
  .section {
    padding: 50px 50px;
  }
}

@media (max-width: 500px) {
  .section {
    padding: 30px 30px;
  }
}

/* header css */
.header {
  padding-top: 15px;
  padding-bottom: 15px;
}
