.absolute {
  position: absolute;
  width: 100%;
}
.section {
  padding: 150px 150px;
  width: 100%;
}

.section-fill {
  background-color: var(--overlay);
}

.container {
  max-width: 1300px;
  margin: 0 auto;
}

@media (max-width: 1300px) {
  .section {
    padding: 120px 100px;
  }
}
@media (max-width: 1000px) {
  .section {
    padding: 100px 80px;
  }
}
@media (max-width: 800px) {
  .section {
    padding: 80px 70px;
  }
}
@media (max-width: 600px) {
  .section {
    padding: 70px 50px;
  }
}

@media (max-width: 500px) {
  .section {
    padding: 60px 30px;
  }
}

/* header css */
.noPadding {
  padding-top: 15px;
  padding-bottom: 15px;
}
