.sayHiWrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  align-items: center;
}
.sayHiWrapper p {
  margin: 50px 0 80px 0;
  color: var(--gray5);
}

.sayHiLeo {
  display: flex;
}
.sayHi {
  color: var(--gray5);
}
.leo {
  padding-left: 10px;
  color: var(--gray9);
}
