.sayHiWrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  align-items: center;
}
.sayHiWrapper span {
  color: var(--gray5);
}
.sayHiWrapper p {
  margin: 50px 0 80px 0;
  color: var(--gray5);
}
