.sliderWrapper {
  width: 500px;
}

.mainWrap {
  display: flex;
  justify-content: space-between;
  padding: 50px 02;
}
.mainWrap img {
  /* padding-left: 100px; */
  height: 100%;
  max-height: 600px;
  object-fit: contain;
  width: 900px;
  max-width: 100%;
}

.textWrap {
  max-width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.textWrap p {
  color: var(--gray5);
  max-width: 400px;
  padding-left: 2px;
}
.textWrap h3 {
  color: var(--gray5);
  width: 350px;
  font-weight: 900;
}

.textWrap a {
  margin-top: 40px;
  color: var(--gray9);
}
.textWrap svg {
  font-size: 20px;
}

@media (max-width: 800px) {
  .mainWrap {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .mainWrap img {
    margin: 0 auto;
    padding-left: 0;
    margin-left: -50px;
  }
  .textWrap a {
    margin: 50px auto;
  }
  .textWrap svg {
    transform: rotate(90deg);
    margin-right: -10px;
    margin-left: 10px;
  }
  .textWrap {
    margin: 0 auto;
    align-items: center;
  }
}

@media (max-width: 700px) {
  .mainWrap img {
    margin-left: -30px;
  }
}
@media (max-width: 600px) {
  .mainWrap img {
    margin-left: -20px;
  }
}
