.mainWrap {
  display: flex;
  justify-content: space-between;
}
.mainWrap img {
  width: 100%;
}

.textWrap {
  max-width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.textWrap p {
  color: var(--gray5);
  max-width: 400px;
}
.textWrap h3 {
  color: var(--gray6);
  max-width: 400px;
}

.textWrap a {
  margin-top: 60px;
}

@media (max-width: 1000px) {
  .mainWrap {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .mainWrap img {
    margin: 0 auto;
  }
  .textWrap a {
    margin: 50px auto;
  }
  .textWrap {
    margin: 0 auto;
    align-items: center;
  }
}

@media (max-width: 650px) {
}
