.mainWrapper {
  /* padding: 40px 0; */
  user-select: none;
}

.mainImage {
  width: 100%;
  display: flex;
  justify-content: center;
}
.mainImage img {
  width: 100%;
  max-height: 600px;
  object-fit: cover;
}

.navWrapper {
  margin-top: 20px;
}
.navWrapper > div {
  display: flex;
  justify-content: center;
  align-items: center;
}
.mainWrapper > div > ::after {
  /* color: var(--overlayLight); */
  transition: all 0.2s;
  padding: 20px;
  color: var(--overlayLight);
}
.mainWrapper > div > :hover::after {
  color: var(--gray2);
}
/* .mainWrapper > div > ::after:hover {
} */

.mainImage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}
.someMainImageDiv > div {
  display: flex;
  align-items: center;
  height: 100%;
}
.someMainDiv2 {
  height: auto;
}

.navImagesWrapper img {
  /* max-height: 100px; */
  object-fit: cover;
  width: 100px;
  height: 50px;
}
