.mainWrapper {
  user-select: none;
}

.mainImage {
  width: 100%;
  display: flex;
  justify-content: center;
}
.mainImage img {
  height: 90%;
  width: 85%;
  margin: 0 auto;
  max-height: 600px;
  object-fit: cover;
  box-shadow: -7px 7px 12px rgba(0, 0, 0, 0.482);
}

.navWrapper {
  margin-top: 12px;
  width: 85%;
}
.navWrapper > div {
  display: flex;
  justify-content: center;
  align-items: center;
}
.mainWrapper > div > ::after {
  transition: all 0.2s;
  padding: 20px;
  color: var(--gray3);
  opacity: 0.5;
}
.mainWrapper > div > :hover::after {
  color: var(--gray5);
}

.mainImage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}
.someMainImageDiv > div {
  display: flex;
  align-items: center;
  height: 100%;
}
.someMainDiv2 {
  height: auto;
}
.navImagesWrapper {
  height: 70px;
  transition: all 0.2s;
}

.navImagesWrapper img {
  object-fit: cover;
  width: 100px;
  height: 50px;
  box-shadow: -3px 3px 6px rgba(0, 0, 0, 0.482);
}
.navImagesWrapper:hover {
  margin-top: -5px;
}

@media (max-width: 1150px) {
  .mainImage img {
    max-height: 550px;
  }
}

@media (max-width: 1050px) {
  .mainImage img {
    max-height: 500px;
  }
}

@media (max-width: 950px) {
  .mainImage img {
    max-height: 450px;
    box-shadow: -7px 7px 7px rgba(0, 0, 0, 0.482);
  }
}

@media (max-width: 850px) {
  .mainImage img {
    max-height: 400px;
  }
}

@media (max-width: 750px) {
  .mainImage img {
    max-height: 350px;
  }
}

@media (max-width: 600px) {
  .mainImage img {
    max-height: 300px;
    box-shadow: -5px 5px 5px rgba(0, 0, 0, 0.482);
  }
}
