.exampleContainer {
  min-height: 200px;
  height: 500px;
  max-height: 700px;
  max-width: 1000px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  /* background-color: var(--backgroundLight); */
}
.exampleContainer img {
  position: absolute;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.next,
.prev {
  top: calc(50% - 20px);
  position: absolute;
  background: var(--overlayLight);
  border-radius: 30px;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
  cursor: pointer;
  font-weight: bold;
  font-size: 18px;
  z-index: 2;
  font-size: 20px;
}

.next p,
.prev p {
  position: absolute;
  color: var(--gray2);
  transition: all 0.2s;
}

.next {
  right: 10px;
  transition: all 0.3s;
  align-items: center;
}

.prev {
  left: 10px;
  transform: scale(-1);
  transition: all 0.3s;
}

.next:hover p,
.prev:hover p {
  color: var(--backgroundLight);
  scale: 1.2;
}

@media (max-width: 1200px) {
  .exampleContainer {
    height: 450px;
  }
}

@media (max-width: 1100px) {
  .exampleContainer {
    height: 400px;
  }
}

@media (max-width: 1000px) {
  .exampleContainer {
    height: 350px;
  }
}

@media (max-width: 900px) {
  .exampleContainer {
    height: 300px;
  }
}

@media (max-width: 800px) {
  .exampleContainer {
    height: 350px;
  }
}
@media (max-width: 600px) {
  .exampleContainer {
    height: 300px;
  }
}
@media (max-width: 550px) {
  .exampleContainer {
    height: 270px;
  }
}
@media (max-width: 450px) {
  .exampleContainer {
    height: 200px;
  }
}
